@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.item-section
		padding-top: 5vw

		.col-lg-4 
			padding-left: 1.25vw 
			padding-right: 1.25vw
		.col-lg-4:first-child
			.item img
				max-width: 7vw
	.item
		max-width: 100%
		border-radius: 6.4vw
		h3 
			max-width: 100%
		p 
			font-size: 1.9vw

	.item
		padding: 3.2vw 1.6vw 2.9vw 1.6vw
		img 
			max-width: 10.4vw
	
	h3 
		font-size: 2.4vw
		






/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	/**/
	.logo 
		padding-left: 6.133vw
		img 
			width: 30.133vw
	.header
		padding-top: 8vw
	.header__content
		padding-top: 38.133vw
		text-align: center
		padding-bottom: 15.733vw
		h1
			margin: 0 auto
			font-size: 10.400vw
			max-width: 100vw
			line-height: 10.667vw
			br 
				display: block
	.sub-title
		font-size: 5.333vw 
		font-weight: 300
	.header__footer
		flex-direction: column
		padding-top: 18.400vw
		.button
			padding-top: 6.4vw

	.header__footer-text 
		font-size: 3.733vw
		max-width: 75vw
	.button a
		font-size: 5.067vw
		padding: 1.867vw 8.533vw
		border-radius: 10vw
	.container-fluid 
		max-width: 100vw
	.about__content
		padding-top: 6.250vw
	.about-title 
		font-size: 6.563vw
	.about p 
		font-size: 5.313vw
		line-height: 6.563vw
	.about 
		padding-top: 7.413vw
		padding-bottom: 6.933vw
	.vine 
		padding-top: 9.867vw
		padding-bottom: 9.867vw
	.vine__title
		font-size: 5.067vw
		margin-bottom: 6.667vw
	.vine__items
		flex-direction: column 
		max-width: 85vw
	.vine__item
		width: 100%
		margin-top: 0
	.vine__item:first-child img
		width: 17.168vw
	.vine-item__title
		font-size: 13.6vw

	.vine__item .vine-item__text	
		font-size: 4.533vw
		bottom: 4vw
		br 
			display: none
	.vine__item:first-child .vine-item__text
		left: 9vw
	.vine__item:first-child
		.vine-item__title
			top: 8vw
			left: 8vw
	.vine__item:nth-child(2)
		display: flex 
		justify-content: flex-end
		img 
			width: 17.067vw
		.vine-item__title
			left: 100%
			top: 50%
			transform: translateX(-100%) translateY(-50%)
		.vine-item__text
			left: 60%
	.vine__item:nth-child(3)
		justify-content: flex-start
		img 
			width: 14.667vw
		.vine-item__title
			top: 8vw
	.item-section
		padding-top: 10.4vw
		.container-fluid
			max-width: 95%
		.col-lg-4 
			padding-left: 2.5vw 
			padding-right: 2.5vw
		.col-lg-4:first-child
			.item img
				max-width: 14vw
	.item
		max-width: 100%
		padding: 11.563vw
		border-radius: 11vw
		h3 
			max-width: 100%
		p 
			font-size: 3.467vw

	.item
		padding: 6.4vw 3.2vw 2vw 3.2vw
		img 
			max-width: 20.800vw
	
	h3 
		font-size: 4.800vw
	.table-section 
		display: none
		padding-top: 9.600vw

	.table-section--mobile
		display: block
		padding-top: 0
		
	.table-wrapper
		display: flex
	.table-title
		padding: 9.600vw 8.533vw 4.267vw 8.533vw
		font-size: 5.6vw
	.table-section--mobile
		.tabs 
			display: flex
			margin-bottom: 8vw
			border-radius: 2.933vw
	.tab-mobile 
		font-size: 3.733vw
		text-align: center
		background: #fff
		display: flex 
		justify-content: center 
		align-items: center
		padding: 0
		cursor: pointer
		border: 1px solid $purple
		height: 12.267vw
	.tab-mobile:last-child 
		border-top-right-radius: 2.933vw
		border-bottom-right-radius: 2.933vw
		border-left: none
	.tab-mobile:first-child 
		border-top-left-radius: 2.933vw
		border-bottom-left-radius: 2.933vw
		border-right: none
	.tab-mobile.active 
		background: $purple
		color: #fff 
	.tab-content
		display: none
	.table-wrapper
		display: block
	.tab-content:first-child 
		display: block
	.table-price-col
		width: 100%
		display: block
	.table-button
		width: 100%
	.table__row--header
		text-align: center
		color: $purple
	.tab-content-title
		font-size: 8vw
		margin-bottom: 1.6vw
	.tab-content-p	
		font-size: 4.522vw
		max-width: 70vw
		margin: 0 auto
		margin-bottom: 5.33vw
	.price
		font-size: 11.733vw
	.price-text
		font-size: 4vw
		margin-bottom: 9.067vw
	.table-button
		.button 
			font-size: 5.6vw
			padding: 2.933vw 0
			border-radius: 10vw
	.titles__column
		padding-top: 8vw


	.table-left__header
		color: #fff
		font-size: 4.533vw
		text-align: left
		padding-top: 3vw
	.tab-content-wrapper
		display: flex
	.table-col-tick
		border-right: none
	.titles__column
		width: 55vw
	.table-column
		width: 31vw
		.table 
			max-width: 31vw
			padding-top: 8vw
			border-radius: 5.867vw
			padding-bottom: 5.867vw
			box-shadow: 0 0.8vw 7.733vw rgba(#000, .16)
	.table-left-title
		font-size: 3.2vw
		line-height: 1.2
		height: 10vw
	.table-col-tick
		height: 10vw
		width: 100%
		img 
			width: 4.8vw
	.table-col-tick .tick-p
		font-size: 2.667vw
	.table-col-tick .tick-text
		font-size: 4.267vw
	.table__row-text
		padding-top: 8vw
	.table-footer-text
		width: 100%
		font-size: 2.933vw
		padding-top: 7vw
	.table-price-col-footer
		display: flex
	.prev,
	.next
		display: block
		img 
			width: 2.773vw
	.slick-slide img
		display: block 
		margin: 0 auto
		max-width: 40vw
		height: auto 
	.line-first 
		display: none
	.slider-section
		width: 76.800vw
		position: relative 
	.slider-content
		padding-left: 0
	.slider p 
		max-width: 100%
		font-size: 3.467vw
	.slider-text
		font-size: 4.8vw
	.slider-name
		font-size: 4vw
	.line 
		width: 56vw
	.prev 
		left: 0
		top: 13vw
		position: absolute
	.next 
		right: 0
		top: 13vw
		position: absolute
	.slider-section
		padding-bottom: 0
	.logos-section
		padding-top: 5vw
		a 
			min-height: 19vw
			margin-bottom: 0
		img 
			width: 100%
	.footer__title
		font-size: 5.6vw
	.footer__sub-title
		font-size: 4vw
		max-width: 70vw
	.form-row 
		flex-direction: column
		span 
			width: 100% 
			text-align: center
			font-size: 4.8vw
		input 
			width: 100%
			height: 10.133vw
			border-radius: 5.6vw
			margin-top: 3.467vw
	.form-row-wrapper
		width: 100%
		align-items: center
		display: flex
		margin-top: 10vw
		input 
			width: 4vw 
			height: 4vw
			min-width: 4vw 
			min-height: 4vw
			margin-top: 0
			margin-right: 3vw
			color: #fff 
			padding: 0 5vw
		label 
			margin-bottom: 0
			font-size: 3vw
			max-width: 90%
	.footer
		padding-bottom: 15vw
		padding-top: 15vw 
		button 
			width: 100%
			font-size: 5.33vw
			padding-top: 2vw
			padding-bottom: 2vw
			border-radius: 10vw
	input
		border: 1px solid #fff










	

	








/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 360px)
	/**/
	.header__content
		h1
			font-size: 10vw


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/





